.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: 'Source Sans 3', sans-serif;
  position: relative; 
  background-color: white;
  min-height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.back-button {
  position: fixed; 
  top: 10px;
  left: 10px;
  font-size: 1.5rem;
  font-weight: bold;
  color: #006b49;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1000; 
  padding: 10px;
}

.back-button:hover {
  color: #004d38;
}

/* Progress Bar */
.progress-bar-container {
  flex: 1;
  height: 10px;
  background-color: #ddd;
  border-radius: 5px;
  overflow: hidden;
  margin-left: 10px;
}

.progress-bar {
  height: 100%;
  background-color: #006B49;
  transition: width 0.3s ease; 
}

.quiz-container {
  margin-top: 40px; 
  margin-bottom: 20px;
}

.title {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
  font-family: 'Italiana', serif;
}

.question {
  margin-bottom: 20px;
}

.question-text {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.option {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 1rem;
  text-align: left;
  background: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  color: #333;
}

.option:hover {
  background-color: #eef8ee;
}

.option.correct {
  background-color: #d4edda; 
  border-color: #c3e6cb;
  color: #155724;
}

.option.incorrect {
  background-color: #f8d7da; 
  border-color: #f5c6cb;
  color: #721c24;
}

/* Feedback */
.feedback {
  margin-top: 20px;
  text-align: center;
  font-size: 1.2rem;
  color: #333;
}

.navigation {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.previous-button,
.next-button {
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  background-color: #006b49;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.previous-button:hover,
.next-button:hover {
  background-color: #004d38;
}

/* Submit Button */
.submit-container {
  text-align: center;
}
  
.submit-button {
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  background-color: #006b49;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: #004d38;
}

/* Modal Styles */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  padding: 20px;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px;
}

.modal-content h2 {
  font-size: 2rem;
  color: #DE85C7;
  margin-bottom: 10px;
  font-family: 'Italiana', serif;
  font-weight: 600; 
}

.modal-content p {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 20px;
}

.modal-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.next-level-button,
.home-button,
.retry-button {
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #006B49;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.next-level-button:hover,
.home-button:hover,
.retry-button:hover {
  background-color: #9ABC92;
}

/* Responsiveness adjustments */
@media (max-width: 768px) {
  .back-button {
    font-size: 1.2rem;
    padding: 8px;
    top: 5px;
    left: 5px;
  }

  .progress-bar-container {
    height: 8px;
    margin-left: 5px;
  }

  .modal-content {
    width: 90%;
    padding: 15px;
  }

  .modal-content h2 {
    font-size: 1.8rem;
  }

  .modal-content p {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .back-button {
    font-size: 1rem;
    padding: 5px;
    top: 5px;
    left: 5px;
  }

  .progress-bar-container {
    height: 6px;
    margin-left: 5px;
  }

  .modal-content {
    width: 90%;
    padding: 10px;
  }

  .modal-content h2 {
    font-size: 1.5rem;
  }

  .modal-content p {
    font-size: 0.9rem;
  }
}